#mySidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    background-color:#000;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
 
  #mySidenav a {
padding: 11px 8px 8px 32px;
text-decoration: none;
font-size: 16px;
color: #fff;
display: block;
transition: 0.3s;
text-transform: uppercase;
  }
  
#mySidenav a:hover {
    color: #000;
    background: #F1CC4A;
}
  #mySidenav .closebtn {
position: absolute;

top: 0;

right: 20px;

font-size: 36px;

margin-left: 50px;
  }

.openav {
font-size:30px;
cursor:pointer;
display: contents;
}

.zoom{
    position:absolute;
    left:50%;
    margin-left:-100px;
    top:50%;
    margin-top:-100px;
    transform:  rotate(0deg) scaleX(0) scaleY(0) skewX(0deg) skewY(0deg);
    -moz-transform:  rotate(0deg) scaleX(0) scaleY(0) skewX(0deg);
    -webkit-transform:  rotate(0deg) scaleX(0) scaleY(0) skewX(0deg);
     -o-transform:  rotate(0deg) scaleX(0) scaleY(0) skewX(0deg);
     -ms-transform:  rotate(0deg) scaleX(0) scaleY(0) skewX(0deg);
}


.element-animation{
  animation: animationFrames linear 2s;
  animation-iteration-count: 1;
  transform-origin: ;
  -webkit-animation: animationFrames linear 2s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: ;
  -moz-animation: animationFrames linear 2s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: ;
  -o-animation: animationFrames linear 2s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: ;
  -ms-animation: animationFrames linear 2s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: ;
      -moz-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg);
    -webkit-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg);
     -o-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg);
     -ms-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg);  
}

@keyframes animationFrames{
  0% {

    opacity:1;
    transform:  rotate(0deg) scaleX(0) scaleY(0) skewX(0deg) skewY(0deg) ;
  }
  100% {

    opacity:1;
    transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
}

@-moz-keyframes animationFrames{
  0% {

    opacity:1;
    -moz-transform:  rotate(0deg) scaleX(0) scaleY(0) skewX(0deg) skewY(0deg) ;
  }
  100% {

    opacity:1;
    -moz-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
}

@-webkit-keyframes animationFrames {
  0% {

    opacity:1;
    -webkit-transform:  rotate(0deg) scaleX(0) scaleY(0) skewX(0deg) skewY(0deg) ;
  }
  100% {

    opacity:1;
    -webkit-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
}

@-o-keyframes animationFrames {
  0% {

    opacity:1;
    -o-transform:  rotate(0deg) scaleX(0) scaleY(0) skewX(0deg) skewY(0deg) ;
  }
  100% {

    opacity:1;
    -o-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
}

@-ms-keyframes animationFrames {
  0% {

    opacity:1;
    -ms-transform:  rotate(0deg) scaleX(0) scaleY(0) skewX(0deg) skewY(0deg) ;
  }
  100% {

    opacity:1;
    -ms-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
}

svg{ width:26px;}

path {
  fill: #757575;
}

.grecaptcha-badge {
    opacity: 0;
}

.flora-copy-right a {
  color: black;
}


/* Career Page  */

.card {
    border: none;
    margin-bottom: 5px;
	border-radius: 0;
}
.card-header {
    padding: 0;
    margin-bottom: 0;
    background-color: #fdcd0b;
    border-bottom: none;
}
.card-header:first-child {
    border-radius: 0;
}
.card-header h5
{
    float: left;
    text-transform: uppercase;
    color: #000;
    padding: 16px 15px 12px;
    font-weight: 600;
}
.card-header i {
background: #000;
    color: #fff;
    font-size: 24px;
    padding: 14px 20px;
}
.card-body {
    background: #f8f8f8;
	    display: inline-block;
}
.icon-text {
    margin-bottom: 15px;
}
.icon-text img {
    margin-right: 12px;
    float: left;
}
.icon-text p {
    display: inline-block;
    padding: 0;
    margin: 9px 0 0;
    line-height: 23px;
}
.card-body.ff-blog p {
    font-size: 16px;
    font-weight: 500;
}
/*contact form 7 file uploader design*/
.codedropz-upload-handler h3 ,.codedropz-upload-inner > span {
    display: none;
}

.codedropz-upload-inner .codedropz-btn-wrap a.cd-upload-btn::before {
    content: "Submit Resume";
    font-size: 21px;
    color: #000;
}

.codedropz-upload-inner .codedropz-btn-wrap a.cd-upload-btn {
    
    font-size: 0;
}

.codedropz-upload-handler { border:0 !Important;}

.wpcf7-submit {
    border: none;
    padding: 10px!important;
}
.codedropz-upload-container,.codedropz-upload-handler{ 
padding:0 !Important;
 margin:0 !Important;
 }


.dnd-upload-status .dnd-upload-details span.has-error {
  
    font-size: 11px;
}
.dnd-upload-status .dnd-upload-details .dnd-progress-bar { height:13px !important;}

.dnd-upload-status .dnd-upload-details .name { color:#000; font-size:11px;}
.dnd-upload-status .dnd-upload-details .remove-file{ color:#000; right: -19px;}
.dnd-upload-status .dnd-upload-details span.has-error { font-size:11px;}
.btn.wo-btn {
    font-size: 20px;
    font-weight: 600;
    background: #fdcd0b;
    border-radius: 0;
    color: #000;
    text-transform: uppercase;
    padding: 10px 30px;
}
.btn-bs-file input[type="file"] {
    position: absolute;
    top: -9999999;
    filter: alpha(opacity=0);
    opacity: 0;
    width: 0;
    height: 0;
    outline: none;
    cursor: inherit;
}

#wpcf7-f1070-o1 .wpcf7-submit, #wpcf7-f1070-o2 .wpcf7-submit, #wpcf7-f1070-o3 .wpcf7-submit, #wpcf7-f1070-o4 .wpcf7-submit {
    border: none;
    padding: 11px 32px!important;
    background: #000;
    font-size: 21px;
    color: white;
    text-transform: uppercase;
}
#wpcf7-f1070-o1 .wpcf7-form p, #wpcf7-f1070-o2 .wpcf7-form p, #wpcf7-f1070-o3 .wpcf7-form p, #wpcf7-f1070-o4 .wpcf7-form p {
    display: inline-flex;
    margin: 0;
}

/* Case Study */

section.case-content {
background: #000;
color: #fff;
padding: 70px 0;
}
.ff-case-text p {
padding-top: 20px;
line-height: 30px;
}
.case-icon-box
{
padding: 15px 10px;
}
.case-icon-box img {
width: 100px;
}
.case-icon-box h4 {
width: 100%;
font-size:30px;
margin:20px 0 10px;
}
.case-icon-box p {
width: 100%;
padding:0;
}
.case-yellow {
background: #FDCD0B;
padding: 15px 10px;
color:#000;
}
.case-button
{
	background:#000;
	padding:50px 0;
}
.case-button a {
    background: #fdcd0b;
    color: #000;
    text-transform: uppercase;
    border: 0;
    border-radius: 0;
    font-weight: 600;
    font-size: 20px;
    min-width: 200px;
}
.case-button a:hover {
	 background: #fdcd0b;
    color: #fff;
}

.next-prv a:hover {
    background: #fdcd0bc2;
}
.next-prv a {
    color: #000;
    display: block;
    padding: 140px 20px;
    width: 100%;
	text-decoration:none;
}
.next-prv a h3, .next-prv a p
{
	margin:0;
}
.next-prv {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    padding: 0;
}
.casedetails {
border: 1px solid #e8e8e8;
background: rgb(242, 205, 73, 0.9);
width: 100%;
margin: 10px 0;
float: left;
}

.casedetails a.links
{
	padding:0;
}

.casedetails:hover .middle {
opacity: 1;
padding: 100px 5px;
width: 90%;
}
.casedetails a {
    text-transform: uppercase;
    padding: 18px 0px 14px 0px;
    border-radius: 36px;
    font-size: 20px;
    font-weight: bold;
    margin: 0 auto;
    color: #000;
	text-decoration: none;
}

.casetext {
color: #000;
font-size: 26px;
padding: 12px 0px 6px 0px;
display: none;
text-decoration: none;
}
.casedetails:hover .image {
    opacity: 0.3;
}
.casedetails:hover .casetext {
    display: block;
}