#mySidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    background-color:#000;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  #mySidenav a {
padding: 11px 8px 8px 32px;
text-decoration: none;
font-size: 16px;
color: #fff;
display: block;
transition: 0.3s;
text-transform: uppercase;
  }
  
#mySidenav a:hover {
    color: #000;
    background: #F1CC4A;
}
  #mySidenav .closebtn {
position: absolute;

top: 0;

right: 20px;

font-size: 36px;

margin-left: 50px;
  }

.openav {
font-size:30px;
cursor:pointer;
display: contents;
}

.zoom{
    position:absolute;
    left:50%;
    margin-left:-100px;
    top:50%;
    margin-top:-100px;
    transform:  rotate(0deg) scaleX(0) scaleY(0) skewX(0deg) skewY(0deg);
    -moz-transform:  rotate(0deg) scaleX(0) scaleY(0) skewX(0deg);
    -webkit-transform:  rotate(0deg) scaleX(0) scaleY(0) skewX(0deg);
     -o-transform:  rotate(0deg) scaleX(0) scaleY(0) skewX(0deg);
     -ms-transform:  rotate(0deg) scaleX(0) scaleY(0) skewX(0deg);
}


.element-animation{
  animation: animationFrames linear 2s;
  animation-iteration-count: 1;
  transform-origin: ;
  -webkit-animation: animationFrames linear 2s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: ;
  -moz-animation: animationFrames linear 2s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: ;
  -o-animation: animationFrames linear 2s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: ;
  -ms-animation: animationFrames linear 2s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: ;
      -moz-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg);
    -webkit-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg);
     -o-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg);
     -ms-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg);  
}

@keyframes animationFrames{
  0% {

    opacity:1;
    transform:  rotate(0deg) scaleX(0) scaleY(0) skewX(0deg) skewY(0deg) ;
  }
  100% {

    opacity:1;
    transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
}

@-moz-keyframes animationFrames{
  0% {

    opacity:1;
    -moz-transform:  rotate(0deg) scaleX(0) scaleY(0) skewX(0deg) skewY(0deg) ;
  }
  100% {

    opacity:1;
    -moz-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
}

@-webkit-keyframes animationFrames {
  0% {

    opacity:1;
    -webkit-transform:  rotate(0deg) scaleX(0) scaleY(0) skewX(0deg) skewY(0deg) ;
  }
  100% {

    opacity:1;
    -webkit-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
}

@-o-keyframes animationFrames {
  0% {

    opacity:1;
    -o-transform:  rotate(0deg) scaleX(0) scaleY(0) skewX(0deg) skewY(0deg) ;
  }
  100% {

    opacity:1;
    -o-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
}

@-ms-keyframes animationFrames {
  0% {

    opacity:1;
    -ms-transform:  rotate(0deg) scaleX(0) scaleY(0) skewX(0deg) skewY(0deg) ;
  }
  100% {

    opacity:1;
    -ms-transform:  rotate(0deg) scaleX(1) scaleY(1) skewX(0deg) skewY(0deg) ;
  }
}

svg{ width:26px;}

path {
  fill: #757575;
}

.grecaptcha-badge {
    opacity: 0;
}

.flora-copy-right a {
  color: black;
}